/* Command editor */

.command-block-editor {
  --clamp-halo: var(--color-surface);
  --code-editor-header-halo: var(--color-surface);

  border-top: var(--border-standard);
  overflow: clip;
}

.command-block-editor.collapsed,
body.read-mode .command-block-editor {
  display: none;
}

:is(
    .block-selected,
    .block-item.drag-over,
    body.select-key-held:not(.read-mode) .block-item:hover
  )
  .command-block {
  border-color: transparent;
  background-clip: padding-box;
}

.block-item:has(> .command-block),
.block-selected .command-block {
  outline-offset: -1px;
}
