.command-block-editor {
  --clamp-halo: var(--color-surface);
  --code-editor-header-halo: var(--color-surface);

  border-top: var(--border-standard);
  overflow: clip;
}

.command-block-editor.collapsed,
body.read-mode .command-block-editor {
  display: none;
}
