.block-item {
  position: relative;
  min-width: var(--block-min-width);
  max-width: 100%;
}

.block-controls,
.block-drag-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-base);
}

.block-controls {
  left: calc(100% + var(--space-4));
}

.block-drag-handle {
  right: calc(100% + var(--space-4));
}

.block-controls-inner,
.block-drag-handle .drag-handle {
  position: sticky;
  top: var(--space-4);
  bottom: var(--space-4);
  pointer-events: auto;
}

.block-controls-inner {
  display: flex;
  gap: var(--space-2);
}

.block-item:hover :is(.block-controls, .block-drag-handle) {
  opacity: 1;
}

body.read-mode :is(.block-controls, .block-drag-handle) {
  display: none;
}

body.select-key-held:not(.read-mode) :is(.block-controls, .block-drag-handle) {
  opacity: 0;
  pointer-events: none;
}

body.select-key-held:not(.read-mode) .block-item:hover:not(.block-selected) {
  outline: var(--border-dashed);
  border-radius: var(--radius-lg);
}

.block-selected:not(.drag-over)
  :is(.command-block, .note-block, .divider-block) {
  user-select: none;
  outline: var(--space-1) solid var(--accent);
}

.block-item.drag-over {
  border-radius: var(--radius-lg);
}

@keyframes duplicate-flash {
  0% {
    outline: var(--space-1) solid var(--accent);
    outline-offset: var(--space-2);
  }

  100% {
    outline: var(--space-3) solid transparent;
    outline-offset: var(--space-2);
  }
}

.block-item.duplicate-flash {
  z-index: 1;
  animation: duplicate-flash 0.5s ease-out forwards;
}
