:is(#blocks-list, .minimap-mirror) {
  display: grid;
  grid-template-columns: fit-content(calc(100% - var(--space-20)));
  max-width: 100%;
  gap: var(--space-3);
  justify-items: start;
}

:is(#blocks-list, .minimap-mirror) .block-item:has(.divider-block) {
  justify-self: stretch;
}
