.sidebar-section-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: var(--space-4);
  margin: 0 var(--space-14);
  padding: var(--space-5) 0;
  border-top: var(--space-1) dashed var(--color-border);
}

body.read-mode .sidebar-section-footer {
  display: none;
}
