#docs-demo-tab-panel {
  --block-backdrop: var(--color-bg);
  --docs-demo-tab-panel-height: 24rem;

  display: flex;
  flex-direction: column;
  min-height: var(--docs-demo-tab-panel-height);
  padding: var(--space-8) var(--space-10);
  background: var(--color-bg);
  border: var(--border-standard);
  border-top: none;
  border-radius: 0 0 var(--radius-md) var(--radius-md);
}

#docs-demo-tab-panel > #runbook-variables-wrapper {
  flex: 0 0 auto;
  height: calc(var(--docs-demo-tab-panel-height) - 4rem);
}
