#sidebar-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3);
}

.sidebar-collapsed #sidebar-btn-group {
  position: absolute;
  left: calc(50% + var(--space-4));
}

.sidebar-right.sidebar-collapsed #sidebar-btn-group {
  left: auto;
  right: calc(50% + var(--space-4));
}

#sidebar-toggle-btn {
  flex-shrink: 0;
}

.sidebar-collapsed #sidebar-chevron {
  transform: rotate(180deg);
}

.sidebar-right #sidebar-chevron {
  transform: rotate(180deg);
}

.sidebar-right.sidebar-collapsed #sidebar-chevron {
  transform: rotate(0deg);
}
