.add-row {
  display: flex;
  align-items: center;
  padding: var(--space-8) 0 0;
  border-top: var(--space-1) dashed var(--color-border);
  margin-top: var(--space-4);
}

.add-row-label {
  margin-right: var(--space-6);
}

.add-row .btn {
  position: relative;
  border-radius: 0;
}

.add-row .btn:not(:last-of-type) {
  margin-right: -1px;
}

.add-row .btn:first-of-type {
  border-radius: var(--radius-md) 0 0 var(--radius-md);
}

.add-row .btn:last-of-type {
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
}

.add-row .btn:hover {
  z-index: var(--z-raised);
  border-color: var(--color-border-focus);
}

body.read-mode .add-row {
  display: none;
}
